@charset "utf-8";

:root {

   --cor1: #70c9ea;
   --cor2: #2ab5e6;
   --cor3: #208bb3;
   --cor4: #315866;
   --cor5: #125066;



   --fonte-padrao: arial, verdana,helvetica, sans-serif;
    --font-destaque:var(--cor0)
    --fonte-android:var(--cor0)
}

* { 

    margin: 0px;
    padding: 0px;

}

body {

    background-color: var(--cor1);
    font-family: var(--fonte-padrao)
}

header {

    background-color: var(--cor3);
    min-height: 100px;
    text-align: center;
    padding: 20px;
}
header > h1 {

    color: white;
    font-family:var(--fonte-padrao);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514);
   
}
header > p {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514);
    margin: auto;
    margin-bottom: 20px;
}

nav {

    background-color:var(--cor4);
    padding: 10px;
    box-shadow:  0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {

    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    
}
nav > a:hover {

    background-color: var(--cor3);
    color: var(--cor5);
}